{erl_opts, [debug_info]}.
{deps, [
    {riakc, "2.5.3"},
    pooler,
    backoff,
    {prometheus, "4.6.0"},
    {app_config,
        {git, "https://gitlab.com/leapsight/app_config.git", {branch, "master"}}
    }
]}.

{shell, [
    {apps, [app_config, riakc, prometheus, pooler, riak_pool]}
]}.


{profiles, [
    {docs, [
        {deps, [
            {edown,
                ".*",
                {git, "https://github.com/Leapsight/edown.git", {branch, "master"}}
            }
        ]},
        {edoc_opts, [
            {dir, "doc/modules"},
            {application, babel},
            {doclet, edown_doclet},
            %% {pretty_printer, erl_pp},
            {top_level_readme, {
                "./doc/modules/summary.md",
                "https://gitlab.com/leapsight/riak_pool"
            }},
            %% Leapsight additions
            {function_index, false}
        ]}
    ]}
]}.
