[
    {riak_pool, [
        {backend_mod, riak_pool_pooler},
        {pools, [
            #{
                name => default,
                min_size => 3,
                max_size => 9,
                riak_host => "127.0.0.1",
                riak_port => 8087
            }
        ]}
    ]}
].
